.about__section {
    height: auto;
    margin-bottom: -22rem;
    width: 100%;
}

.about__container {
    height: 100vh;
    position: relative;
    width: 100%;
}

.about__img-filter {
    background-color: rgba(0, 0, 0, .2);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.about__background-img {
    background-attachment: fixed;
    background-image: url("./../images/glasses-919071_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 8px solid $tertiary;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

.about__arrow-container {
    bottom: 5rem;
    position: absolute;
    transform: translateY(-8rem);
    width: 100%;
    z-index: 3;
}

.about__img-title {
    color: #fff;
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: .3rem;
}

.about__arrow {
    color: #fff;
    font-size: 4rem;
}

.about__content {
    margin: 0 auto -35rem;
    max-width: 50%;
}

.about__content-title {
    color: $primary;
    text-align: center;
    &:nth-of-type(1) {
        margin-top: 7rem;
    }
    &:nth-of-type(2) {
        margin-top: 3rem;
    }
}

.about__content-paragraph {
    color: $quaternary;
    line-height: 2;
    text-align: center;
}
