// sass --watch scss/main.scss css/main.css

/////////////////////////////////////
//tags
* {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    z-index: 1000; 
}

/////////////////////////////////////
//////////////////////////////////////////////////////////////////////////
// index page 
//////////////////////////////////////////////////////////////////////////
/////////////////////////////////////


/////////////////////////////////////
//carousel

.carousel {
    transition: transform 1s ease-in-out;
    z-index: 0;
}

/////////////////////////////////////
//middle body

.middle-body__content--height {
    border-top: .3rem solid $primary;
    height: 59rem;
    z-index: 100;
}

.middle-body__dining-row {
    transform: translate(50%, -100%);
}

.middle-body__content--borderbox-xy {
    margin-top: -20rem;
}

.middle-body__content--borderbox-x {
    height: 22rem;
    margin-top: 4rem;
    width: 70%;
}

.middle-body__content--borderbox-y {
    height: 24rem;
    margin-top: 3rem;
    width: 69%;
    z-index: 0;
}

.middle-body__text-content--position {
    margin-top: 18rem;
}

.middle-body__img--box {
    background-attachment: fixed;
    background-image: url('./../images/food-632215_1920.jpg');
    background-position: 20rem center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: .3rem solid $primary;
    border-left: .3rem solid $primary;
    border-top: .3rem solid $primary;
    height: 75rem;
    margin-top: -6rem;
    right: 0;
    top: 0;
    width: 60%;
    z-index: 100;
}

.middle-body__content--white-borderbox1 {
    margin-top: -36rem;
}

.middle-body__content--white-borderbox2 {
    height: 32rem;
    margin-top: 8rem;
    right: 0;
    width: 55%;
    z-index: 200;
}

/////////////////////////////////////
//bottom body

.bottom-body__img--box {
    background-attachment: fixed;
    background-image: url('./../images/cake-1971552_1920.jpg');
    background-position: -15rem -3rem;
    background-repeat: no-repeat; 
    background-size: cover;
    border-bottom: .3rem solid $primary;
    border-right: .3rem solid $primary;
    border-top: .3rem solid $primary;
    height: 94rem;
    left: 0;
    margin-top: -1rem;
    top: 0;
    width: 60%;
    z-index: 100;
}

.bottom-body__content--borderbox-xy {
    margin-top: -24rem;
}

.bottom-body__content--borderbox-x {
    height: 45rem;
    margin-top: -5rem;
    right: 0;
    width: 38%;
    z-index: 200;
}

.bottom-body__content--borderbox-y {
    height: 35rem;
    left: 0;
    width: 98%;
    z-index: 200;
}

.bottom-body__bakery-row {
    transform: translate(100%, -50%);
}

.bottom-body__text-content--position {
    margin-top: 34rem;
}






