.scrollbar {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(184, 134, 11, .6) rgba(184, 134, 11, .2);
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(184, 134, 11, .2);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(184, 134, 11, .6);
  border-radius: 6px;
}